* {
    font-family: Tahoma, sans-serif;
}

body {
    background-color: aliceblue;;
}

h2 {
    color:black;
    text-align: left;
}

input {
    width: 30%;
    background-color: #97c4ff;
    text-align: left;
}
